[submodule "open-optimization-bibliography"]
	path = open-optimization-bibliography
	url = https://github.com/open-optimization/open-optimization-bibliography.git
[submodule "open-optimization-or-examples"]
	path = open-optimization-or-examples
	url = https://github.com/open-optimization/open-optimization-or-examples.git
[submodule "open-optimization-common"]
	path = open-optimization-common
	url = https://github.com/open-optimization/open-optimization-common.git
