/open-optimization/version.txt
/open-optimization/open-optimization.pdf
/open-optimization/titlecard.pdf
/open-optimization-sections/algorithms-for-integer-programming.pdf
/open-optimization-sections/complexity.pdf
/open-optimization-sections/exponential-formulations.pdf
/open-optimization-sections/integer-programming-formulations.pdf
/open-optimization-sections/algorithms-for-integer-programming.tex
/open-optimization-sections/NLP.pdf
/open-optimization-sections/NLP-algorithms.pdf
