 
/* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-7{font-size:70%; font-weight: bold;}
.cmbx-7{ font-weight: bold;}
.cmbx-7{ font-weight: bold;}
.cmbx-7{ font-weight: bold;}
.cmmib-10{font-style: italic; font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-7{font-size:70%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-5{font-size:50%;font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmex-7{font-size:70%;}
.cmex-7x-x-71{font-size:49%;}
.msam-7{font-size:70%;}
.msam-5{font-size:50%;}
.msbm-7{font-size:70%;}
.msbm-5{font-size:50%;}
.ecrm-1200{font-size:120%;}
.ecrm-1728{font-size:170%;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmr-6{font-size:60%;}
.cmmi-12{font-size:120%;font-style: italic;}
.cmmi-8{font-size:80%;font-style: italic;}
.cmmi-6{font-size:60%;font-style: italic;}
.cmsy-10x-x-120{font-size:120%;}
.cmsy-6{font-size:60%;}
.msbm-10x-x-120{font-size:120%;}
.ecrm-2488{font-size:240%;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ectt-1000{ font-family: monospace,monospace;}
.ecbx-1440{font-size:140%; font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1440{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecbx-1000{ font-weight: bold;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecbx-1200{font-size:120%; font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecbx-1200{ font-weight: bold;}
.ecrm-0800{font-size:80%;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecbi-1000{ font-weight: bold;   font-style: italic;}
.ecrm-0900{font-size:90%;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecit-1000{ font-style: italic; font-family: monospace,monospace;}
.ecti-0800{font-size:80%; font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ecti-0800{ font-style: italic;}
.ectt-0800{font-size:80%; font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.ectt-0800{ font-family: monospace,monospace;}
.cmr-9{font-size:90%;}
.cmmi-9{font-size:90%;font-style: italic;}
.cmsy-9{font-size:90%;}
.cmex-9{font-size:90%;}
.cmbx-9{font-size:90%; font-weight: bold;}
.cmbx-9{ font-weight: bold;}
.cmbx-9{ font-weight: bold;}
.cmbx-9{ font-weight: bold;}
.msbm-10x-x-90{font-size:90%;}
.ectt-0900{font-size:90%; font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ectt-0900{ font-family: monospace,monospace;}
.ecbx-0900{font-size:90%; font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.ecbx-0900{ font-weight: bold;}
.pzdr-x-x-90{font-size:90%;}
.tctt-0900{font-size:90%;font-family: monospace,monospace;}
.ecit-0900{font-size:90%; font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ecit-0900{ font-style: italic; font-family: monospace,monospace;}
.ectt-1728{font-size:170%; font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.ectt-1728{ font-family: monospace,monospace;}
.cmbx-12{font-size:120%; font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
tr.hline td hr{display:none}
.newpage{page-break-before:always;}
nav.toc ol, nav ol.toc{list-style: none;}
.footnote{font-size:small;}
.footnotes hr{width:30%;margin:0 auto 0 0;}
p + section.footnotes{margin-bottom: 1rem;}
.rotatebox{display: inline-block;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.uline{ text-decoration:underline; }
.uuline{ text-decoration:underline; }
span.sout {text-decoration: line-through }
span.xout {text-decoration: line-through }
span.uwave {text-decoration:underline }
div.subfigure {text-align:center;display:inline-block; max-width:45%;}
.caption span.id{font-weight: bold;}
 .wrapfig-r, .wrapfig-ri, .wrapfig-ir, .wrapfig-ro, .wrapfig-or {float:right; text-align:left; margin-left:auto; margin-top:0.5em;} 
 .wrapfig-l, .wrapfig-li, .wrapfig-il, .wrapfig-lo, .wrapfig-ol {float:left; text-align:left; margin-right:auto; margin-top:0.5em;} 
.wrapfig-r .caption td.content, .wrapfig-ri .caption td.content, .wrapfig-ir .caption td.content, .wrapfig-ro .caption td.content, .wrapfig-or .caption td.content, .wrapfig-l .caption td.content, .wrapfig-li .caption td.content, .wrapfig-il .caption td.content, .wrapfig-lo .caption td.content, .wrapfig-ol .caption td.content {white-space: normal; }
.wrapfig-r .caption, .wrapfig-ri .caption, .wrapfig-ir .caption, .wrapfig-ro .caption, .wrapfig-or .caption, .wrapfig-l .caption, .wrapfig-li .caption, .wrapfig-il .caption, .wrapfig-lo .caption, .wrapfig-ol .caption {width:30%; }
body { font-family: Georgia, serif; line-height: 1.45; margin: 1em; }
img { max-width: 100%; height: auto; }
table { border-collapse: collapse; }
td, th { padding: 2px 8px; }
#textcolor1{color:#840125}
tr#TBL-2-1- {border-top:0.112em solid #000;} 
tr#TBL-2-1- {border-bottom:0.06999em solid #000}
tr#TBL-2-5- {border-bottom:0.112em solid #000}
#textcolor2{color:#0000FF}
#textcolor3{color:#840125}
#textcolor4{color:#840125}
#textcolor5{color:#840125}
#textcolor6{color:#840125}
#textcolor7{color:#840125}
#textcolor8{color:#840125}
#textcolor9{color:#840125}
#textcolor10{color:#840125}
#textcolor11{color:#840125}
#textcolor12{color:#840125}
#textcolor13{color:#840125}
#textcolor14{color:#840125}
#textcolor15{color:#840125}
#textcolor16{color:#840125}
#textcolor17{color:#840125}
#textcolor18{color:#840125}
#textcolor19{color:#840125}
#textcolor20{color:#840125}
#textcolor21{color:#840125}
#textcolor22{color:#840125}
#textcolor23{color:#840125}
#textcolor24{color:#840125}
#textcolor25{color:#840125}
#textcolor26{color:#840125}
#textcolor27{color:#840125}
#textcolor28{color:#840125}
#textcolor29{color:#840125}
#textcolor30{color:#840125}
#textcolor31{color:#840125}
#textcolor32{color:#840125}
#textcolor33{color:#840125}
#textcolor34{color:#840125}
#textcolor35{color:#840125}
#textcolor36{color:#840125}
#textcolor37{color:#840125}
#textcolor38{color:#840125}
#textcolor39{color:#840125}
#textcolor40{color:#840125}
#textcolor41{color:#840125}
#textcolor42{color:#840125}
#textcolor43{color:#840125}
#textcolor44{color:rgb(127,127,255)}
#textcolor45{color:#FFFF00}
#textcolor46{color:rgb(127,255,127)}
#textcolor47{color:#840125}
#textcolor48{color:#840125}
#textcolor49{color:#840125}
#textcolor50{color:#840125}
#textcolor51{color:#840125}
tr#TBL-28-1- {border-top:0.112em solid #000;} 
tr#TBL-28-1- {border-bottom:0.06999em solid #000}
tr#TBL-28-3- {border-bottom:0.112em solid #000}
#textcolor52{color:#840125}
#textcolor53{color:#840125}
#textcolor54{color:#840125}
#textcolor55{color:#840125}
#textcolor56{color:#840125}
#textcolor57{color:#840125}
#textcolor58{color:#840125}
tr#TBL-29-1- {border-top:0.112em solid #000;} 
tr#TBL-29-1- {border-bottom:0.06999em solid #000}
tr#TBL-29-4- {border-bottom:0.112em solid #000}
#textcolor59{color:#840125}
#textcolor60{color:#840125}
#textcolor61{color:#840125}
#textcolor62{color:#840125}
#textcolor63{color:#840125}
#textcolor64{color:#840125}
#textcolor65{color:#840125}
#textcolor66{color:#840125}
#textcolor67{color:#840125}
#textcolor68{color:#840125}
tr#TBL-33-1- {border-top:0.112em solid #000;} 
tr#TBL-33-1- {border-bottom:0.06999em solid #000}
tr#TBL-33-6- {border-bottom:0.112em solid #000}
#textcolor69{color:#840125}
#textcolor70{color:#840125}
#textcolor71{color:#840125}
#textcolor72{color:#840125}
#textcolor73{color:#840125}
#textcolor74{color:#840125}
#textcolor75{color:#840125}
#textcolor76{color:#840125}
#textcolor77{color:#840125}
#textcolor78{color:#840125}
#textcolor79{color:#840125}
#textcolor80{color:#840125}
#textcolor81{color:#840125}
#textcolor82{color:#840125}
#textcolor83{color:#840125}
#textcolor84{color:#840125}
#textcolor85{color:#840125}
#textcolor86{color:#840125}
#textcolor87{color:#840125}
#textcolor88{color:#840125}
#textcolor89{color:#840125}
#textcolor90{color:#840125}
#textcolor91{color:#840125}
#textcolor92{color:#840125}
#textcolor93{color:#840125}
#textcolor94{color:#840125}
#textcolor95{color:#840125}
#textcolor96{color:#840125}
#textcolor97{color:#840125}
#textcolor98{color:#840125}
#textcolor99{color:#840125}
#textcolor100{color:#840125}
#textcolor101{color:#840125}
#textcolor102{color:#840125}
#textcolor103{color:#840125}
#textcolor104{color:#840125}
#textcolor105{color:#840125}
#textcolor106{color:#840125}
#textcolor107{color:#840125}
#textcolor108{color:#840125}
#textcolor109{color:#840125}
#textcolor110{color:#840125}
#textcolor111{color:#840125}
#textcolor112{color:#840125}
#textcolor113{color:#840125}
#textcolor114{color:#840125}
#textcolor115{color:#840125}
tr#TBL-55-1- {border-top:0.112em solid #000;} 
tr#TBL-55-1- {border-bottom:0.06999em solid #000}
tr#TBL-55-4- {border-bottom:0.112em solid #000}
#textcolor116{color:#840125}
 #TBL-115-1-1{ background-color:#FFFF00}
 #TBL-115-2-1{ background-color:#FFFF00}
 #TBL-115-3-1{ background-color:#FFFF00}
 #TBL-119-1-2{ background-color:#00FFFF}
 #TBL-119-1-4{ background-color:#00FFFF}
 #TBL-119-2-2{ background-color:#00FFFF}
 #TBL-119-2-4{ background-color:#00FFFF}
 #TBL-119-3-2{ background-color:#00FFFF}
 #TBL-119-3-4{ background-color:#00FFFF}
 #TBL-123-1-3{ background-color:#FF8000}
 #TBL-123-1-4{ background-color:#FF8000}
 #TBL-123-1-5{ background-color:#FF8000}
 #TBL-123-2-3{ background-color:#FF8000}
 #TBL-123-2-4{ background-color:#FF8000}
 #TBL-123-2-5{ background-color:#FF8000}
 #TBL-123-3-3{ background-color:#FF8000}
 #TBL-123-3-4{ background-color:#FF8000}
 #TBL-123-3-5{ background-color:#FF8000}
tr#TBL-244-1- {border-top:0.112em solid #000;} 
tr#TBL-244-1- {border-bottom:0.06999em solid #000}
tr#TBL-244-2- {border-bottom:0.06999em solid #000}
tr#TBL-244-5- {border-bottom:0.112em solid #000}
tr#TBL-245-1- {border-top:0.112em solid #000;} 
tr#TBL-245-1- {border-bottom:0.06999em solid #000}
 #TBL-245-2-3{ background-color:}
tr#TBL-245-2- {border-bottom:0.06999em solid #000}
 #TBL-245-3-3{ background-color:}
 #TBL-245-4-3{ background-color:}
tr#TBL-245-5- {border-bottom:0.112em solid #000}
tr#TBL-246-1- {border-top:0.112em solid #000;} 
 #TBL-246-1-2{ background-color:}
tr#TBL-246-1- {border-bottom:0.06999em solid #000}
 #TBL-246-2-2{ background-color:}
tr#TBL-246-2- {border-bottom:0.06999em solid #000}
 #TBL-246-3- td{ background-color:}
 #TBL-246-3-2{ background-color:}
 #TBL-246-4-2{ background-color:}
 #TBL-246-5-2{ background-color:}
tr#TBL-246-5- {border-bottom:0.112em solid #000}
tr#TBL-247-1- {border-top:0.112em solid #000;} 
tr#TBL-247-1- {border-bottom:0.06999em solid #000}
tr#TBL-247-2- {border-bottom:0.06999em solid #000}
tr#TBL-247-5- {border-bottom:0.112em solid #000}
tr#TBL-248-1- {border-top:0.112em solid #000;} 
tr#TBL-248-1- {border-bottom:0.06999em solid #000}
 #TBL-248-2-2{ background-color:}
tr#TBL-248-2- {border-bottom:0.06999em solid #000}
 #TBL-248-3- td{ background-color:}
 #TBL-248-3-2{ background-color:}
 #TBL-248-4-2{ background-color:}
 #TBL-248-5-2{ background-color:}
tr#TBL-248-5- {border-bottom:0.112em solid #000}
tr#TBL-249-1- {border-top:0.112em solid #000;} 
tr#TBL-249-1- {border-bottom:0.06999em solid #000}
tr#TBL-249-2- {border-bottom:0.06999em solid #000}
tr#TBL-249-5- {border-bottom:0.112em solid #000}
tr#TBL-250-1- {border-top:0.112em solid #000;} 
tr#TBL-250-1- {border-bottom:0.06999em solid #000}
 #TBL-250-2- td{ background-color:}
tr#TBL-250-2- {border-bottom:0.06999em solid #000}
tr#TBL-250-5- {border-bottom:0.112em solid #000}
tr#TBL-251-1- {border-top:0.112em solid #000;} 
tr#TBL-251-1- {border-bottom:0.06999em solid #000}
tr#TBL-251-2- {border-bottom:0.06999em solid #000}
tr#TBL-251-5- {border-bottom:0.112em solid #000}
tr#TBL-252-1- {border-top:0.112em solid #000;} 
tr#TBL-252-1- {border-bottom:0.06999em solid #000}
 #TBL-252-2- td{ background-color:}
tr#TBL-252-2- {border-bottom:0.06999em solid #000}
tr#TBL-252-5- {border-bottom:0.112em solid #000}
tr#TBL-253-1- {border-top:0.112em solid #000;} 
tr#TBL-253-1- {border-bottom:0.06999em solid #000}
tr#TBL-253-2- {border-bottom:0.112em solid #000}
tr#TBL-254-1- {border-top:0.112em solid #000;} 
tr#TBL-254-1- {border-bottom:0.06999em solid #000}
tr#TBL-254-2- {border-bottom:0.06999em solid #000}
tr#TBL-254-5- {border-bottom:0.112em solid #000}
tr#TBL-255-1- {border-top:0.112em solid #000;} 
tr#TBL-255-1- {border-bottom:0.06999em solid #000}
tr#TBL-255-2- {border-bottom:0.06999em solid #000}
tr#TBL-255-4- {border-bottom:0.112em solid #000}
tr#TBL-256-1- {border-top:0.112em solid #000;} 
tr#TBL-256-1- {border-bottom:0.06999em solid #000}
tr#TBL-256-2- {border-bottom:0.06999em solid #000}
tr#TBL-256-5- {border-bottom:0.112em solid #000}
tr#TBL-257-1- {border-top:0.112em solid #000;} 
tr#TBL-257-1- {border-bottom:0.06999em solid #000}
tr#TBL-257-2- {border-bottom:0.06999em solid #000}
tr#TBL-257-4- {border-bottom:0.112em solid #000}
tr#TBL-258-1- {border-top:0.112em solid #000;} 
tr#TBL-258-1- {border-bottom:0.06999em solid #000}
tr#TBL-258-2- {border-bottom:0.06999em solid #000}
tr#TBL-258-5- {border-bottom:0.112em solid #000}
tr#TBL-259-1- {border-top:0.112em solid #000;} 
tr#TBL-259-1- {border-bottom:0.06999em solid #000}
tr#TBL-259-2- {border-bottom:0.06999em solid #000}
tr#TBL-259-4- {border-bottom:0.112em solid #000}
tr#TBL-260-1- {border-top:0.112em solid #000;} 
tr#TBL-260-1- {border-bottom:0.06999em solid #000}
tr#TBL-260-2- {border-bottom:0.06999em solid #000}
tr#TBL-260-4- {border-bottom:0.112em solid #000}
tr#TBL-261-1- {border-top:0.112em solid #000;} 
tr#TBL-261-1- {border-bottom:0.06999em solid #000}
tr#TBL-261-2- {border-bottom:0.06999em solid #000}
tr#TBL-261-4- {border-bottom:0.112em solid #000}
tr#TBL-262-1- {border-top:0.112em solid #000;} 
tr#TBL-262-1- {border-bottom:0.06999em solid #000}
tr#TBL-262-2- {border-bottom:0.06999em solid #000}
tr#TBL-262-4- {border-bottom:0.112em solid #000}
tr#TBL-263-1- {border-top:0.112em solid #000;} 
tr#TBL-263-1- {border-bottom:0.06999em solid #000}
tr#TBL-263-2- {border-bottom:0.06999em solid #000}
tr#TBL-263-4- {border-bottom:0.112em solid #000}
tr#TBL-264-1- {border-top:0.112em solid #000;} 
tr#TBL-264-1- {border-bottom:0.06999em solid #000}
tr#TBL-264-2- {border-bottom:0.06999em solid #000}
tr#TBL-264-4- {border-bottom:0.112em solid #000}
tr#TBL-265-1- {border-top:0.112em solid #000;} 
tr#TBL-265-1- {border-bottom:0.06999em solid #000}
tr#TBL-265-4- {border-bottom:0.112em solid #000}
tr#TBL-266-1- {border-top:0.112em solid #000;} 
tr#TBL-266-1- {border-bottom:0.06999em solid #000}
tr#TBL-266-3- {border-bottom:0.112em solid #000}
tr#TBL-316-1- {border-top:0.112em solid #000;} 
tr#TBL-316-1- {border-bottom:0.06999em solid #000}
tr#TBL-316-3- {border-bottom:0.112em solid #000}
tr#TBL-317-1- {border-top:0.112em solid #000;} 
tr#TBL-317-1- {border-bottom:0.06999em solid #000}
tr#TBL-317-4- {border-bottom:0.112em solid #000}
.columns-2 p:first-child { margin-top: 0em; }
.columns-2{-moz-column-count:2; -webkit-column-count:2; column-count:2; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555;; -webkit-column-rule-color: #555;; column-rule-color: #555;; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
tr#TBL-350-1- {border-top:0.112em solid #000;} 
tr#TBL-350-1- {border-bottom:0.06999em solid #000}
tr#TBL-350-7- {border-bottom:0.112em solid #000}
tr#TBL-357-1- {border-top:0.112em solid #000;} 
tr#TBL-357-1- {border-bottom:0.06999em solid #000}
tr#TBL-357-4- {border-bottom:0.112em solid #000}
#textcolor117{color:#840125}
 #TBL-375-1-7{ background-color:#FFFF00}
 #TBL-375-2-7{ background-color:#FFFF00}
 #TBL-375-3-7{ background-color:#FFFF00}
 #TBL-375-4-7{ background-color:#FFFF00}
 #TBL-375-5-7{ background-color:#FFFF00}
 #TBL-375-6-7{ background-color:#FFFF00}
 #TBL-375-7-7{ background-color:#FFFF00}
 #TBL-375-8-1{ background-color:#FFFF00}
 #TBL-375-8-2{ background-color:#FFFF00}
 #TBL-375-8-3{ background-color:#FFFF00}
 #TBL-375-8-4{ background-color:#FFFF00}
 #TBL-375-8-5{ background-color:#FFFF00}
 #TBL-375-8-6{ background-color:#FFFF00}
 #TBL-375-8-7{ background-color:#FFFF00}
 #TBL-376-1-3{ background-color:#FFFF00}
 #TBL-376-1-7{ background-color:#FFFF00}
 #TBL-376-2-3{ background-color:#FFFF00}
 #TBL-376-2-7{ background-color:#FFFF00}
 #TBL-376-3-3{ background-color:#FFFF00}
 #TBL-376-3-7{ background-color:#FFFF00}
 #TBL-376-4-1{ background-color:#FFFF00}
 #TBL-376-4-2{ background-color:#FFFF00}
 #TBL-376-4-3{ background-color:#FFFF00}
 #TBL-376-4-4{ background-color:#FFFF00}
 #TBL-376-4-5{ background-color:#FFFF00}
 #TBL-376-4-6{ background-color:#FFFF00}
 #TBL-376-4-7{ background-color:#FFFF00}
 #TBL-376-5-3{ background-color:#FFFF00}
 #TBL-376-5-7{ background-color:#FFFF00}
 #TBL-376-6-3{ background-color:#FFFF00}
 #TBL-376-6-7{ background-color:#FFFF00}
 #TBL-376-7-3{ background-color:#FFFF00}
 #TBL-376-7-7{ background-color:#FFFF00}
 #TBL-376-8-1{ background-color:#FFFF00}
 #TBL-376-8-2{ background-color:#FFFF00}
 #TBL-376-8-3{ background-color:#FFFF00}
 #TBL-376-8-4{ background-color:#FFFF00}
 #TBL-376-8-5{ background-color:#FFFF00}
 #TBL-376-8-6{ background-color:#FFFF00}
 #TBL-376-8-7{ background-color:#FFFF00}
 #TBL-377-1-3{ background-color:#FFFF00}
 #TBL-377-1-4{ background-color:#FFFF00}
 #TBL-377-1-7{ background-color:#FFFF00}
 #TBL-377-2-3{ background-color:#FFFF00}
 #TBL-377-2-4{ background-color:#FFFF00}
 #TBL-377-2-7{ background-color:#FFFF00}
 #TBL-377-3-3{ background-color:#FFFF00}
 #TBL-377-3-4{ background-color:#FFFF00}
 #TBL-377-3-7{ background-color:#FFFF00}
 #TBL-377-4-1{ background-color:#FFFF00}
 #TBL-377-4-2{ background-color:#FFFF00}
 #TBL-377-4-3{ background-color:#FFFF00}
 #TBL-377-4-4{ background-color:#FFFF00}
 #TBL-377-4-5{ background-color:#FFFF00}
 #TBL-377-4-6{ background-color:#FFFF00}
 #TBL-377-4-7{ background-color:#FFFF00}
 #TBL-377-5-1{ background-color:#FFFF00}
 #TBL-377-5-2{ background-color:#FFFF00}
 #TBL-377-5-3{ background-color:#FFFF00}
 #TBL-377-5-4{ background-color:#FFFF00}
 #TBL-377-5-5{ background-color:#FFFF00}
 #TBL-377-5-6{ background-color:#FFFF00}
 #TBL-377-5-7{ background-color:#FFFF00}
 #TBL-377-6-3{ background-color:#FFFF00}
 #TBL-377-6-4{ background-color:#FFFF00}
 #TBL-377-6-7{ background-color:#FFFF00}
 #TBL-377-7-3{ background-color:#FFFF00}
 #TBL-377-7-4{ background-color:#FFFF00}
 #TBL-377-7-7{ background-color:#FFFF00}
 #TBL-377-8-1{ background-color:#FFFF00}
 #TBL-377-8-2{ background-color:#FFFF00}
 #TBL-377-8-3{ background-color:#FFFF00}
 #TBL-377-8-4{ background-color:#FFFF00}
 #TBL-377-8-5{ background-color:#FFFF00}
 #TBL-377-8-6{ background-color:#FFFF00}
 #TBL-377-8-7{ background-color:#FFFF00}
 #TBL-378-1-3{ background-color:#FFFF00}
 #TBL-378-1-4{ background-color:#FFFF00}
 #TBL-378-1-5{ background-color:#FFFF00}
 #TBL-378-1-7{ background-color:#FFFF00}
 #TBL-378-2-3{ background-color:#FFFF00}
 #TBL-378-2-4{ background-color:#FFFF00}
 #TBL-378-2-5{ background-color:#FFFF00}
 #TBL-378-2-7{ background-color:#FFFF00}
 #TBL-378-3-3{ background-color:#FFFF00}
 #TBL-378-3-4{ background-color:#FFFF00}
 #TBL-378-3-5{ background-color:#FFFF00}
 #TBL-378-3-7{ background-color:#FFFF00}
 #TBL-378-4-1{ background-color:#FFFF00}
 #TBL-378-4-2{ background-color:#FFFF00}
 #TBL-378-4-3{ background-color:#FFFF00}
 #TBL-378-4-4{ background-color:#FFFF00}
 #TBL-378-4-5{ background-color:#FFFF00}
 #TBL-378-4-6{ background-color:#FFFF00}
 #TBL-378-4-7{ background-color:#FFFF00}
 #TBL-378-5-1{ background-color:#FFFF00}
 #TBL-378-5-2{ background-color:#FFFF00}
 #TBL-378-5-3{ background-color:#FFFF00}
 #TBL-378-5-4{ background-color:#FFFF00}
 #TBL-378-5-5{ background-color:#FFFF00}
 #TBL-378-5-6{ background-color:#FFFF00}
 #TBL-378-5-7{ background-color:#FFFF00}
 #TBL-378-6-1{ background-color:#FFFF00}
 #TBL-378-6-2{ background-color:#FFFF00}
 #TBL-378-6-3{ background-color:#FFFF00}
 #TBL-378-6-4{ background-color:#FFFF00}
 #TBL-378-6-5{ background-color:#FFFF00}
 #TBL-378-6-6{ background-color:#FFFF00}
 #TBL-378-6-7{ background-color:#FFFF00}
 #TBL-378-7-3{ background-color:#FFFF00}
 #TBL-378-7-4{ background-color:#FFFF00}
 #TBL-378-7-5{ background-color:#FFFF00}
 #TBL-378-7-7{ background-color:#FFFF00}
 #TBL-378-8-1{ background-color:#FFFF00}
 #TBL-378-8-2{ background-color:#FFFF00}
 #TBL-378-8-3{ background-color:#FFFF00}
 #TBL-378-8-4{ background-color:#FFFF00}
 #TBL-378-8-5{ background-color:#FFFF00}
 #TBL-378-8-6{ background-color:#FFFF00}
 #TBL-378-8-7{ background-color:#FFFF00}
 #TBL-388-2-2{ background-color:#FFFF00}
 #TBL-388-3-2{ background-color:#FFFF00}
 #TBL-388-3-3{ background-color:#FFFF00}
 #TBL-388-4-2{ background-color:#FFFF00}
 #TBL-388-4-3{ background-color:#FFFF00}
 #TBL-388-4-4{ background-color:#FFFF00}
 #TBL-388-5-2{ background-color:#FFFF00}
 #TBL-388-5-3{ background-color:#FFFF00}
 #TBL-388-5-4{ background-color:#FFFF00}
 #TBL-388-5-5{ background-color:#FFFF00}
 #TBL-388-6-2{ background-color:#FFFF00}
 #TBL-388-6-3{ background-color:#FFFF00}
 #TBL-388-6-4{ background-color:#FFFF00}
 #TBL-388-6-5{ background-color:#FFFF00}
 #TBL-388-6-6{ background-color:#FFFF00}
 #TBL-388-7-2{ background-color:#FFFF00}
 #TBL-388-7-3{ background-color:#FFFF00}
 #TBL-388-7-4{ background-color:#FFFF00}
 #TBL-388-7-5{ background-color:#FFFF00}
 #TBL-388-7-6{ background-color:#FFFF00}
 #TBL-388-7-7{ background-color:#FFFF00}
 #TBL-388-8-2{ background-color:#FFFF00}
 #TBL-388-8-3{ background-color:#FFFF00}
 #TBL-388-8-4{ background-color:#FFFF00}
 #TBL-388-8-5{ background-color:#FFFF00}
 #TBL-388-8-6{ background-color:#FFFF00}
 #TBL-388-8-7{ background-color:#FFFF00}
 #TBL-388-8-8{ background-color:#FFFF00}
 #TBL-388-9-2{ background-color:#FFFF00}
 #TBL-388-9-3{ background-color:#FFFF00}
 #TBL-388-9-4{ background-color:#FFFF00}
 #TBL-388-9-5{ background-color:#FFFF00}
 #TBL-388-9-6{ background-color:#FFFF00}
 #TBL-388-9-7{ background-color:#FFFF00}
 #TBL-388-9-8{ background-color:#FFFF00}
 #TBL-388-9-9{ background-color:#FFFF00}
tr#TBL-389-1- {border-top:0.112em solid #000;} 
tr#TBL-389-1- {border-bottom:0.06999em solid #000}
tr#TBL-389-6- {border-bottom:0.112em solid #000}
#textcolor118{color:#840125}
#textcolor119{color:#840125}
#textcolor120{color:#840125}
#textcolor121{color:#840125}
 #TBL-390-2- td{ background-color:rgb(170,170,170)}
 #TBL-390-4- td{ background-color:rgb(170,170,170)}
#textcolor122{color:#840125}
#textcolor123{color:#840125}
#textcolor124{color:#840125}
#textcolor125{color:#840125}
tr#TBL-391-1- {border-top:0.112em solid #000;} 
td#TBL-391-2-4{border-bottom:0.04199em solid #000}
tr#TBL-391-3- {border-bottom:0.06999em solid #000}
tr#TBL-391-6- {border-bottom:0.06999em solid #000}
tr#TBL-391-7- {border-bottom:0.112em solid #000}
#textcolor126{color:#840125}
#textcolor127{color:#840125}
#textcolor128{color:#840125}
#textcolor129{color:#840125}
#textcolor130{color:#840125}
#textcolor131{color:#840125}
#textcolor132{color:#840125}
#textcolor133{color:#840125}
#textcolor134{color:#840125}
tr#TBL-394-1- {border-top:0.112em solid #000;} 
tr#TBL-394-1- {border-bottom:0.06999em solid #000}
tr#TBL-394-8- {border-bottom:0.112em solid #000}
#textcolor135{color:#840125}
#textcolor136{color:#840125}
#textcolor137{color:#840125}
#textcolor138{color:#840125}
#textcolor139{color:#840125}
#textcolor140{color:#840125}
#textcolor141{color:#840125}
#textcolor142{color:#840125}
#textcolor143{color:#840125}
tr#TBL-410-1- {border-top:0.112em solid #000;} 
tr#TBL-410-1- {border-bottom:0.06999em solid #000}
tr#TBL-410-3- {border-bottom:0.06999em solid #000}
tr#TBL-410-4- {border-bottom:0.112em solid #000}
#textcolor144{color:#840125}
#textcolor145{color:#E2AB0A}
#textcolor146{color:#840125}
#textcolor147{color:#840125}
#textcolor148{color:#840125}
#textcolor149{color:#840125}
#textcolor150{color:#840125}
#textcolor151{color:#E2AB0A}
#textcolor152{color:#840125}
#textcolor153{color:#840125}
/* end css.sty */

